---
layout: default
---

{% for project in site.data.projects %}
  <!-- For now assume no need for section titles -->
  {% assign loopindex = forloop.index | modulo: 2 %}
  {% if loopindex == 1 or forloop.first %}
    <div class="grid">
  {% endif %}
      <div class="unit half" style='padding:10px; text-align: center'>
        <div class="grid" style='border-width:1px; border-color:#d3d3d3; border-style:solid; padding:10px; background-color:#ffffff; border-radius:5px;'>
          <h3 class="nolineheading">{{ project.title }}</h3>
          <img src="{{ site.baseurl }}/images/{{ project.image }}" alt="{{ project.title }}" height="100"/>
          <a href="{{ project.url }}" class="button-text"><div class="button">Get Started</div></a>
        </div>
      </div>
  {% if loopindex != 1 or forloop.last %}
    </div>
  {% endif %}
{% endfor %}
